body{
  background-color: #F2F2F2;
}

.container-dones {
  align-items: center;
  background-color: rgba(242, 182, 187, 0.15);
  border: 1px solid rgba(242, 82, 82, 0.2);
  border-radius: 10px;
  box-shadow: 3px 5px 5px rgba(142, 142, 142, 0.5);
  display: flex;
  height: 200px;
  justify-content: space-between;
  margin: 0 0 15px 10px;
  width: 95%;
}

.container-dones-img {
  height: 100%;
  width: 50%;
}

.img-recipes-done {
  border-radius: 10px 0 0 10px;
  height: 190px;
  margin-top: 3%;
  width: 100%;
}

.container-dones-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0 1px 0 10px;
  width: 50%;
}

.container-dones-info-share {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-between;
  margin-right: 7px;
  width: 100%;
}

.shareIcon {
  height: 21px;
}

.btn-done {
  border: none;
  background-color: rgba(242, 82, 82, 0.01);
}

.container-buttons-done {
  /* border: 1px solid salmon; */
  display: flex;
  justify-content: space-between;
}

.buttons-done {
  background-color: #F2B6BB;
  border: none;
  border-radius: 5px;
  color: #F2F2F2;
  font-weight: bold;
  height: 30px;
  margin-bottom: 3%;
  width: 33%;
}

.buttons-done:hover {
  color: #F2A74B;
}

.name-done:hover {
  color: #F2A74B;
}

.text-done{
  color: #F25252;
}
