.img-drinks-in-progress {
  width: 300px;
}

/* .container-inProgress {
  display: flex;
  flex-direction: column;
}

.container-interno {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
} */