.favoriteImg {
  display: flex;
  height: 100%;
  width: 100%;
}

.favorite-card {
  align-items: center;
  border: 1px solid #f25252;
  border-radius: 45px;
  color: #f25252;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 50px;
  text-align: center;
  width: 240px;
}

.favorite-card button {
  width: 80%;
}

.buttonAll {
  background-color: #f25252;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin: 4px;
  padding: 10px;
  text-align: center;
  width: 30%;
}

.buttonFood {
  background-color: #f25252;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin: 4px;
  padding: 10px;
  text-align: center;
  width: 30%;
}

.buttonDrink {
  background-color: #f25252;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin: 4px;
  padding: 10px;
  text-align: center;
  width: 30%;
}

.butons {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.divFavorites {
  border: 3px solid green;
  display: flex;
  flex-direction: column;
  width: 355px;
}

.buttonCompartilhar {
  background-color: white;
  border: none;
  height: 40px;
  width: 5px;
}

.buttonFavoritar {
  background-color: white;
  border: none;
  height: 40px;
  width: 5px;
}

.nameFavorite {
  text-align: center;

}

.favoriteLinkImage {
  display: flex;
  flex-direction: column;
}

.favoriteNameCard {
  text-align: center;
}
