.favoriteImg {
  height: 100%;
  width: 80%;
  border: 1px solid #f25252;
  border-radius: 10%;
}

.favorite-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #f25252;
  
}

.favorite-card button {
  width: 80%;
}
.buttonAll {
  background-color: #f25252;
  border-radius: 4px;
  border: none;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 30%;
  cursor: pointer;
  margin: 4px;
}
.buttonFood {
  background-color: #f25252;
  border-radius: 4px;
  border: none;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 30%;
  cursor: pointer;
  margin: 4px;
}
.buttonDrink {
  background-color: #f25252;
  border-radius: 4px;
  border: none;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 30%;
  cursor: pointer;
  margin: 4px;
}
.butons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.divFavorites{
  display: flex;
  flex-direction: column;
  border-radius: 3px solid black;
}
.buttonCompartilhar{
  width: 5px;
  height: 40px;
  background-color: white;
  border: none; 
}
.buttonFavoritar{
  width: 5px;
  height: 40px;
  background-color: white;
  border: none;
}