.favoriteImg {
  border-radius: 10px 0 0 10px;
  height: 190px;
  margin-top: 3%;
  width: 100%;
}

.favorite-card {
  align-items: center;
  background-color: rgba(242, 182, 187, 0.15);
  border: 1px solid rgba(242, 82, 82, 0.2);
  border-radius: 10px;
  box-shadow: 3px 5px 5px rgba(142, 142, 142, 0.5);
  display: flex;
  height: 200px;
  justify-content: space-between;
  margin: 0 0 15px 10px;
  width: 95%;
}

.buttonsFavorite {
  background-color: #f25252;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin: 4px;
  padding: 10px;
  text-align: center;
  width: 30%;
}

.container-buttons-favorite {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 8px;
  margin-top: 8px;
}

.favoriteNameCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.container-btn-favorite {
  /* border: #f25252 1px solid; */
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.buttons-like-share {
  background-color: rgba(242, 182, 187, 0.05);
  border: none;
  height: 30px;
  width: 5px;
}

.link-name-favorite, .text-favorite {
  color: #f25252;
  text-decoration: none;
}

