.header {
  align-items: center;
  background-color: rgb(242, 82, 82);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  letter-spacing: 4px;
  padding: 10px;
}

.search-bar {
  align-items: center;
  display: flex;
  padding: 8px;
}

.search-bar input {
  margin-left: 6px;
  margin-right: 8px;
}

.bar input {
  border: none;
  border-radius: 4px;
  padding: 4px;
}

.bar {
  align-items: center;
  background-color: #ea9d83;
  color: rgb(242, 82, 82);
  display: flex;
  flex-direction: column;
  font-weight: 400;
  justify-content: center;
  padding: 10px;
}

.btn-src-bar {
  background-color: rgb(242, 82, 82);
  border: none;
  border-radius: 4px;
  color: #f4c3c7;
  padding: 8px 12px;
}

.btn-header {
  background-color: white;
  border: none;
  border-radius: 50%;
  padding: 20%;
}

.btn-header-src {
  background-color: white;
  border: none;
  border-radius: 50%;
  padding: 2%;
}

.btn-header {
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  padding: 20%;
}

.btn-header-src {
  background-color: #f2f2f2;
  border: none;
  border-radius: 55%;
  padding: 2%;
}
