.login {
  align-items: center;
  background-color: rgb(242, 82, 82, 0.9);
  border-radius: 25px;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 10px;
  margin-top: 120px;
  padding: 30px;
  width: 78%;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Edu+VIC+WA+NT+Beginner:wght@500&family=Square+Peg&display=swap') ;

h1 {
  font-family: Caveat , cursive;
  font-size: 70px;
  margin-bottom: 6px;
  margin-top: -20px;
}

.login input {
  border: none;
  border-radius: 6px;
  display: flex;
  margin-left: 8px;
  margin-top: 6px;
  padding: 6px;
}

.login button {
  background-color: rgb(234, 157, 131);
  border: none;
  border-radius: 10px;
  color: #f25252;
  font-weight: 800;
  padding: 11px 30px;
}

.login-background {
  background-attachment: fixed;
  background-clip: content-box;
  background-image: url('../images/pinkjpeg');
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
}

.chef-icon {
  font-size: 60px;
}
