.container-email {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.email-profile {
  color: #ea9d83;
  font-size: 25px;
  font-weight: 800;
  margin-left: 5%;
}

.container-btn-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 8px;
}

.btn-profile {
  background-color: #f25252;
  border: none;
  border-radius: 10px;
  color: white;
  height: 50px;
  margin-bottom: 15%;
  padding: 6px 10px;
  width: 200px;
}
