.recipe-details {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.recipe-details img {
  width: 70%;
}

.recipe-details p {
  text-align: justify;
  width: 90%;
}

.container-details {
  background-color: rgba(242, 182, 187, 0.15);
  display: flex;
  flex-direction: column;
}

.container-img-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 512px;
}

.container-interno-details {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-between;
  margin: 10px 10px 0;
  width: 95%;
}

.details-categories {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-between;
  margin-left: 10px;
  width: 100%;
}

.btn-details {
  background-color: rgba(242, 182, 187, 0.05);
  border: none;
  width: 55px;
}

.container-li-details {
  background-color: rgba(242, 182, 187, 0.3);
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  width: 400px;
}

.instructions-details {
  margin-top: 10%;
  text-align: justify;
}

.li-details {
  margin-left: 5%;
}
