.recipe-details {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.recipe-details img {
  width: 70%;
}

.recipe-details p {
  text-align: justify;
  width: 90%;
}

.container-details {
  background-color: rgba(242, 182, 187, 0.15);
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
}

.container-img-details {
  display: flex;
  /* border: 1px solid blue; */
  flex-direction: column;
  align-items: center;
  width: 512px;
}
/* 
.img-details {
  width: 100%;
} */

.container-interno-details {
  align-items: center;
  /* border: 1px solid red; */
  display: flex;
  height: 50px;
  justify-content: space-between;
  width: 95%;
  margin: 10px 10px 0;
}

.details-categories {
  /* border: 1px solid red; */
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-between;
  margin-left: 10px;
  width: 100%;
}

.btn-details {
  /* border: 1px solid red; */
  background-color: rgba(242, 182, 187, 0.05);
  border: none;
  /* height: 50px; */
  width: 55px;
}

.container-li-details {
  background-color: rgba(242, 182, 187, 0.3);
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  width: 400px;
}

.instructions-details {
  margin-top: 10%;
  text-align: justify;
  /* background-color: red; */
}

.li-details {
  margin-left: 5%;
}